{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          He is Leandro Tito Manjate born on 29 December 1997, Portuguese and Mozambican nationality, and has a bachelor's degree in Electrical and Telecom Engineering he is a Trainee Engineer of the Ordem dos Engenheiros of Portugal and a professional trainer of Instituto do Emprego e Formação Profissional. He currently works as Automation Engineer in Kyndrl-Portugal/IBM
          He started working at the age of 20 as an Engineer at Grupo-Visabeira where he was doing FTTH projects for ORANGE operator France and FTTH Registrations for Operator NOS Portugal, experience as a professor in CET of Cybersecurity in Novotecna - Associação para o Desenvolvimento Tecnológico and also as IT support for (delph) APTIV through Excis Compliance Ltd., then work in CME - Construcao e Manutenção Electromecânica, SA as FTTH Designer for Operator Nos with a contract with RZbox
        </p>
        <p>
          He entered higher education at the age of 17 in Mozambique and attended 1 semester and a half the course of Informatics Engineering and Telecommunication. He was awarded a scholarship and won in order to study the course of electrotechnical engineering and telecommunication in Portugal. At age 19, he applied for an exchange scholarship from Santander Tota and won a grant to attend a semester at the Federal University of Rio Grande do Sul (UFRGS), one of the best universities in South America. Currently, he meets with the respective certificates: Cisco IT ESSENTIAL, CCNA INTRODUCTION OF SWITCHING AND ROUTING, and B1 ENGLISH LEVEL. and pedagogical competencies and other mores
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut
          consequuntur magnam, excepturi aliquid ex itaque esse est vero natus
          quae optio aperiam soluta voluptatibus corporis atque iste neque sit
          tempora!
        </p>

        <p>
          He speaks two languages: English and Portuguese fluently.

          Has knowledge of creating a simple and complex network using the emulator GNS3.
          He has knowledge of the following network protocols, DNS, DHCP, Vlans, OSPF, IGRP, and QoS.SIP, IPv4, IPv6.
          Also from the following technologies: 3G, 4G, 5G, PBX, Optimus, Geofibre, IPON, PNI, Autocad, and Matlab,Ansible
          He used the following Programming Language: C, JAVA, Python, HTML5, PHP
          knowledge of cloud: Microsoft Azure, AWS
          He has knowledge of testing tools that are the following: Selenium,Jmeter,Cucumber,PostMan,SOAPUI,Cucumber
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
